*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

body{
  background-color: azure;
}

form {
  position: absolute;
  display: block;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  
}

input[type=submit]{
  background:blue;
  padding: 10px 20px;
  border-radius: 5px;
  color:#fff;
  border: none;
  margin-left: 10px;
}

input[type=submit]:hover {
  background: navy;
  color: yellow;
  cursor: pointer;
}

input[type=text]{
  height: 35px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid gainsboro;
}

form h2{
  margin: 10px 0px;
  padding : 10px 0px;
  background: #333;
  color: azure;
  border-radius: 5px;
}
.displayBookmark{
  position: relative;
  top: 150px;
  left:33%;
  border: 1px grey;
  background: azure;
  width: 33%;

}

.displayBookmark img{
  width: 30%;
}
.displayBookmark span{
    position: relative;
    text-decoration: none;
}
.crossButton{
  float:right;
}
.bookmarkStyle{
 border: 1px solid azure;
 border-radius:5px;
 display: block;
 margin-top: 20px;
 background: #fff;
 box-shadow: 2px 4px 4px 2px #c7c7c7;
 text-decoration: none;
}
